/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* index page styles */
.main {
  width: 70%;
  margin: 0 auto;
}

.container {
  display: flex;
}

/* header styles */

nav.container {
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

div.container {
  flex-flow: row wrap;
}

div.title {
  width: 50%;
}

.container .title {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 60%;
}

nav a {
  color: gray;
  text-decoration: none;
}

hr {
  max-width: 100%;
  border-top: 1px solid black;
  margin: 20px 0;
}

h1 {
  font-size: 4em;
  text-align: center;
}

.container.title a {
  border: 1px solid gray;
  padding: 2px 30px;
}

/* main area styles */

section.container {
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

div.section-one {
  width: 49%;
}

div.section-two {
  width: 32%;
}
.container.center {
  justify-content: center;
}

.middle-img {
  max-width: 100%;
}

/* footer styles */

footer {
  margin-bottom: 20px;
  text-align: center;
}

/* MEDIA QUERIES */

/* tablet view */
@media (max-width: 800px){
    .main {
        width: 90%;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    nav.container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu-logo {
        order: -1;
    }
    .menu-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;
    }

    h1 {
        max-width: 100%;
        font-size: 45px;
        text-align: center;
    }

    .container.title {
        display: flex:
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    div.container div:nth-last-child(1){
        display: none;
    }
}

@media (max-width: 500px){
 .main {
     width: 100%;
 }
 .menu-logo {
     width: 100%;
     padding-bottom: 10px;
     text-align: center;
 }
 .menu-items {
     flex-direction: column;
     text-align: center;
     width: 100%;
     margin-top: 0;
 }
 .menu-items a {
     width: 100%;
     padding: 10px 0;
 }
 .menu-logo, .menu-items a {
     border-bottom: 1px solid black;
 }

 hr, section, section.container {
     width: 95%;
     margin: 10px auto;
 }
 section.container {
     display: flex;
     flex-direction: column;
 }

 section.container div {
     width: 100%;
     margin: 10px 0;
 }

 h3 {
     margin-top: 10px;
 }

}